.root {
background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
padding: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.mainContainer {
    width: 1185px;
    height: 714px;
    display: flex;

}

.textContainer {
    display:flex; 
    flex-direction:column; 
    justify-content: center;
}

.headingOneFont {
    color: #2AA7FF;
    font-size: 17px;
    font-weight: 600;
}

.subHeadingFont {
    color: #1B3C74;
    font-size: 48px;
    font-weight: 600;
}

.paraFont {
    color: #77829D ;
    font-size: 17px;
    font-weight: 500; 
    width: 500px;
    height: 205px;
}

.cardTextFont {
    color:  #77829D ;
    font-weight: 500;
    font-size: 18px;
}

.imageLogo {
    width: 100px;
    height: 100px;
}

.cardOne {
    width: 242px;
    height: 304px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 45px -5px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    bottom: 26px;
}

.cardTwo {
    width: 242px;
    height: 304px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 45px -5px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.cardThree {
    width: 242px;
    height: 304px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 45px -5px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    bottom: 42px;
}

.cardFour {
    width: 242px;
    height: 304px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 45px -5px #00000012;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    bottom: 16px;
}

.cardContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    
}