.root {
    width:700px; 
    display:flex; 
    justify-content:center 
}


.mainContainer {
    font-family: 'Lato', sans-serif;
    width: fit-content;
    height: fit-content;
    background-color: #FFFFFF;
}

.slotContainer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F0F0F5;
    width: 700px;
    height: 73px;
    font-size: 14px;
    font-weight: 400;
    gap: 30px;
}

.timeslotLabel {
    width: 80px;
}

.slotButton {
    width: 84px;
    height: 31.59px;
    border: 1px solid #2AA7FF;
    background: #FFFFFF;
    cursor: pointer;
    color: #2AA7FF;
    font-size: 14px;
    font-weight: 400
}

.slotButtonSlected {
    width: 84px;
    height: 31.59px;
    border: 1px solid #FFFFFF;
    background: #2AA7FF;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400
}