


.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}

.advertisementContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 110px;
}

.contentBox {
    display: flex;
    flex-direction: column
}

.firstLineContent {
    font-size: 31px;
    font-weight: 500;
}

.medicalCenter {
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
}

.centerColor {
    color: #2AA7FF;
}

.lastLineContent {
    width: 460px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #5C6169;
    padding-top: 12px;
}

.button {
    background: #2AA8FF;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 177px;
    height: 48px
}

.image {
    height: 735px;
    width: 643px;
}

